build
*~
.sconsign.dblite
.scons*
*.pyc
config.log
*.[ao]
cscope*out
loader/images.S
loader/ksyms.S
tags
conts/bare[0-9]
conts/linux
src/generic/cinfo.c
.gdbinit
*.swp
tools/kconfiglib/
tools/.kconfiglib.lock
