CONFIG_ARCH_ARM=y
CONFIG_CPU_ARM926=y
CONFIG_PLATFORM_PB926=y
CONFIG_TOOLCHAIN_USERSPACE="arm-none-eabi-"
CONFIG_TOOLCHAIN_KERNEL="arm-none-eabi-"
CONFIG_CAPABILITIES=y
CONFIG_SCHED_TICKS=1000
CONFIG_CONT_POSIX_TEST0=y
